
// Components
@import "./components/header";
// Pages
@import './index';
@import './portfolios';
@import './portfolio-detail';

@import './about';

.absolute {
  position: absolute;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Noto Sans KR', sans-serif;
font-family: 'Noto Serif JP', serif;
}

.base-page {
  padding: 150px 0;
  color: black;
  background-color: #D4D2D3;
  min-height: 100vh;

  .page-header-title{
    font-weight: bold;
    display: inline-block;
    margin-bottom: 20px;
  }
}

.clickable {
  cursor: pointer;
}